<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/{{style}}">
    <title>Sass</title>
</head>

<body>
    <h1>SCSS // SASS</h1>
    <h3>중첩문</h3>
    <div id="topMainDiv">1 >
        <div>2 >
            <div>3 > <span>span!</span></div>
        </div>
    </div>
    <br>
    <pre>
#topMainDiv {
    background-color: yellow;

    div {
        background-color: aquamarine;

        div {
            background-color: blueviolet;

            span {
                background-color: antiquewhite;
                color: wheat;
            }
        }
    }
}
    </pre>
    <br>
    <hr>
    <br>
    <p class="fontStyle_compressAttribute">텍스트를 위한 스타일! 단축 속성 !</p>
    <br>
    <pre>
.fontStyle_compressAttribute {
    font: {
        size: 33px;
        style: italic;
        weight: 900;
    }

    /*
    이렇게 해야하는것을 위에처럼 단축해서 할수있음 
    하지만 자동완성이 안된다는 단점이 있음 
    font-size: 33px;
    font-style: italic;
    font-weight: 900;
    */
}
    </pre>

    <br>
    <hr>
    <h3>가상선택자</h3>
    <br>
    <button class="first-btn">가상선택자 1 !</button>
    <button class="second-btn">가상선택자 2 !</button>
    <div></div>
    <br>
    <pre>

.first-btn {
    width: 200px;

    &:hover {
        background-color: rebeccapurple;
    }
}

.second-btn:hover {
    width: 200px;
    background-color: indianred;
}
    </pre>
    <br>
    <hr>
    <h3>변수 사용법!</h3>
    <br>
    <span class="span-color2">$span-color:yellow</span><br><br>
    <div>
        <button class="btn">button 1</button>
        <button class="btn">button 2</button>
        <button class="btn">button 3</button>
    </div>
    <br>
    <span>
        <pre>
$span-color2:orange;
$btn-color: indigo;
$font-color:white;
$btn-width:100px;

.span-color2 {
    color: $span-color2;
}

.btn {
    &:nth-child(1) {
        color: $font-color;
        background-color: $btn-color;
        width: $btn-width;
    }

    &:nth-child(2) {
        color: $font-color;
        background-color: $btn-color;
        width: $btn-width+100px;
    }

    &:nth-child(3) {
        color: $font-color;
        background-color: $btn-color;
        width: $btn-width+200px;
    }
}
        </pre>
    </span>
    <br>
    <hr>
    <h3>믹스인(함수) 사용법!</h3>
    <br>
    <div class="mixinMain">
        <div class="firstBox">1</div>
        <div class="secondBox">2</div>
    </div>
    <br>
    <pre>
$bg-color2:orange;
$font-color2:black;

.mixinMain {
    display: flex;
    flex-direction: row;

}

@mixin my-font {
    font-size: 1.5rem;
    font-weight: 800;
    font-style: italic;
}

@mixin box-style($bg-color:$bg-color2, $font-color:$font-color2) {

    width: 7rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    border: 1px solid black;
    color: $font-color;

    @include my-font();
}

.firstBox {
    @include box-style(red, yellow);
}

.secondBox {
    @include box-style(yellow);
}
    </pre>

</body>

</html>