<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <link rel="stylesheet" href="../stst.css"> --}}
    <link rel="stylesheet" href="css/{{style}}">
    <title>반응형디자인</title>
</head>

<body>
    <h2>가로 길이 700까지는 모바일 700~1100은 테블릿 1100 이상은 PC 입니다.</h2>
    <h2 id="sizeText">현 사이즈</h2>
    <br>
    <hr>
    <h1 style="text-align: center;">grid</h1>
    <hr>
    <br>

    <div class="container">
        <section class="item item-a">
            <h1>Section A</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et dolorem est nemo earum, accusantium sed
                blanditiis, numquam aspernatur doloribus, dolorum pariatur perferendis dolore voluptatum sunt assumenda!
                Facere error consequuntur quasi?</p>
        </section>
        <section class="item item-b">
            <h1>Section B</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et dolorem est nemo earum, accusantium sed
                blanditiis, numquam aspernatur doloribus, dolorum pariatur perferendis dolore voluptatum sunt assumenda!
                Facere error consequuntur quasi?</p>
        </section>
        <section class="item item-c">
            <h1>Section C</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et dolorem est nemo earum, accusantium sed
                blanditiis, numquam aspernatur doloribus, dolorum pariatur perferendis dolore voluptatum sunt assumenda!
                Facere error consequuntur quasi?</p>
        </section>
        <section class="item item-d">
            <h1>Section D</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et dolorem est nemo earum, accusantium sed
                blanditiis, numquam aspernatur doloribus, dolorum pariatur perferendis dolore voluptatum sunt assumenda!
                Facere error consequuntur quasi?</p>
        </section>

    </div>


    <br>
    <hr>
    <h1 style="text-align: center;">grid</h1>
    <hr>
    <br>
    <div class="container22">
        <div class="item2 color-1"> item-1 </div>
        <div class="item2 color-2"> item-2 </div>
        <div class="item2 color-3"> item-3 </div>
        <div class="item2 color-4"> item-4 </div>
        <div class="item2 color-5"> item-5 </div>
    </div>

    <br>
    <hr>
    <h1 style="text-align: center;">1차원 정렬 flex_box</h1>
    <hr>
    <br>

    <div class="flex_container">
        <div class="itemf3 itemFlex1">1</div>
        <div class="itemf3 itemFlex2">2</div>
        <div class="itemf3 itemFlex3">3</div>
        <div class="itemf3 itemFlex4">4</div>
        <div class="itemf3 itemFlex5">5</div>
        <div class="itemf3 itemFlex6">6</div>
        <div class="itemf3 itemFlex7">7</div>
        <div class="itemf3 itemFlex8">8</div>
        <div class="itemf3 itemFlex9">9</div>
        <div class="itemf3 itemFlex10">10</div>
        <div class="itemf3 itemFlex11">11</div>
        <div class="itemf3 itemFlex12">12</div>
    </div>

    <br>
    <hr>
    <h1 style="text-align: center;">2차원 정렬 flex_box</h1>
    <hr><br>
    <h2 id="sizeText2"> 현 사이즈 </h2>
    <div class="doulbe_flex_container_mobile">
        <div class="doulbe_flex_container_mobile_column">
            <div class="doulbe_flex_container_mobile_row">row1</div>
            <div class="doulbe_flex_container_mobile_row">row2</div>
            <div class="doulbe_flex_container_mobile_row">row3</div>
            <div class="doulbe_flex_container_mobile_row">row4</div>
            <div class="doulbe_flex_container_mobile_row">row5</div>
        </div>
    </div>

    <div class="doulbe_flex_container_tablet">
        <div class="doulbe_flex_container_tablet_column1">
            <div class="doulbe_flex_container_tablet_row1">row1</div>
            <div class="doulbe_flex_container_tablet_row1">row2</div>

        </div>
        <div class="doulbe_flex_container_tablet_column2">
            <div class="doulbe_flex_container_tablet_row2">row1</div>
            <div class="doulbe_flex_container_tablet_row2">row2</div>

        </div>
    </div>

    <div class="doulbe_flex_container_desktop">
        <div class="doulbe_flex_container_desktop_column1">
            <div class="doulbe_flex_container_desktop_row1">row1</div>
            <div class="doulbe_flex_container_desktop_row1">row1</div>
        </div>
        <div class="doulbe_flex_container_desktop_column2">
            <div class="doulbe_flex_container_desktop_row2">row2</div>
            <div class="doulbe_flex_container_desktop_row2">row2</div>
        </div>
        <div class="doulbe_flex_container_desktop_column3">
            <div class="doulbe_flex_container_desktop_row3">row3</div>
            <div class="doulbe_flex_container_desktop_row3">row3</div>
        </div>
        <div class="doulbe_flex_container_desktop_column4">
            <div class="doulbe_flex_container_desktop_row4">row4</div>
            <div class="doulbe_flex_container_desktop_row4">row4</div>
        </div>
    </div>


    <br>
    <hr>
    <h1 style="text-align: center;">flex_box로 UI 꾸미기</h1>
    <hr><br>
    <h2 id="sizeText3"> 현 사이즈 </h2>
    <div class="doulbe_flex_container_all_ui">
        <!-- mobile ui -->
        <div class="doulbe_flex_container_mobile_ui_column">
            <div class="doulbe_flex_container_mobile_ui_top_row">
                <div class="doulbe_flex_container_mobile_ui_top_row_button">
                    <input type="checkbox" id="btn_control" />
                    <label for="btn_control" class="btn_control_label">
                        <img width="50px;" height="40px;" src="icon/menu.png" id="btnLeft" />
                    </label>
                    <div class="doulbe_flex_container_mobile_ui_left_content">
                        <ul class="left_content_ul">
                            <li class="left_content_li">content1</li>
                            <hr class="content_hr">
                            <li class="left_content_li">content2</li>
                            <hr class="content_hr">
                            <li class="left_content_li">content3</li>
                            <hr class="content_hr">
                            <li class="left_content_li">content4</li>
                            <hr class="content_hr">
                            <li class="left_content_li">content5</li>
                            <hr class="content_hr">
                        </ul>
                    </div>
                </div>
                <div class="doulbe_flex_container_mobile_ui_top_row_title">
                    타이틀
                </div>
            </div>
            <div class="doulbe_flex_container_mobile_ui_middle_row">
                <div class="doulbe_flex_container_mobile_ui_middle_row_content1">content1</div>
                <div class="doulbe_flex_container_mobile_ui_middle_row_content2">content2</div>
                <div class="doulbe_flex_container_mobile_ui_middle_row_content3">content3</div>
                <div class="doulbe_flex_container_mobile_ui_middle_row_content4">content4</div>
                <div class="doulbe_flex_container_mobile_ui_middle_row_content5">content5</div>
            </div>
        </div>
        <!-- desktop ui -->
        <div class="doulbe_flex_container_desktop_ui_main_row">
            <div class="doulbe_flex_container_desktop_ui_main_row_menubar_column">
                <ul class="doulbe_flex_container_desktop_ui_main_row_menubar_top">
                    <li>content1</li>
                    <li>content2</li>
                    <li>content3</li>
                    <li>content4</li>
                    <li>content5</li>
                </ul>
                <hr class="content_hr">
                <div class="doulbe_flex_container_desktop_ui_main_row_menubar_bottom">
                    <div class="doulbe_flex_container_desktop_ui_main_row_menubar_bottom_btn">button1</div>
                    <span>content7</span>
                    <span>content8</span>
                </div>

            </div>
            <div class="doulbe_flex_container_desktop_ui_main_row_image"></div>
        </div>
    </div>

    <div style="margin: 100px">
        -- 여백 --
    </div>




    <footer>footer</footer>
    <script>
        var sizeText = document.getElementById("sizeText");
        var sizeText2 = document.getElementById("sizeText2");
        var sizeText3 = document.getElementById("sizeText3");
        window.onresize = function (event) {
            //alert('event');
            var innerWidth = window.innerWidth;
            var widthText = "";
            if (innerWidth < 700) {
                widthText = "현 사이즈 : --" + innerWidth + "--  (모바일)  ";
            } else if (innerWidth >= 700 && innerWidth < 1100) {
                widthText = "현 사이즈 : --" + innerWidth + "--   (테블릿)";
            } else {
                widthText = "현 사이즈 : --" + innerWidth + "--   (pc) ";
            }
            sizeText.textContent = widthText;
            sizeText2.textContent = widthText;
            sizeText3.textContent = widthText;
        }

    </script>
</body>


</html>