:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar__logo {
    flex-shrink: 0;
    font-size: 24px;
    color: var(--text-color);
}

.navbar__logo i {
    color: #d49466;
    margin-right: 5px;
}

.navbar__menu {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.navbar__menu>li {
    cursor: pointer;
    text-align: center;
    flex-grow: 1;
    flex-basis: 100px;
    padding: 8px 12px;
}

.navbar__icons {
    display: flex;
    list-style: none;
    color: white;
    list-style: none;
    flex-direction: row;
}

.navbar__icons>li:hover {
    background-color: #d49466;
    border-radius: 2px;
}

.navbar__icons li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar__toggle {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar__menu {
        display: none;

        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .navbar__menu>li {
        width: 95%;
        flex-basis: content;
        padding: 8px 12px;
        margin: 2px;
    }

    .navbar__icons {
        display: none;
        flex-direction: row;
        padding: 0px;
    }

    .navbar__toggle {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}