body {
    font-size: 1rem;
}

/*
    자식 셀렉터
*/

.child>strong {
    color: blue;
}

/*
    자손 셀렉터
*/

div strong {
    color: red;
}

/*
    전체 셀렉터
*/
ul * {
    color: orange;
}

/*
    속성 셀렉터
*/

input[type=text] {
    color: red;
}

/*
    가상 셀렉터
*/

.maintitle:first-letter {
    color: red;
}

.pseudo li:hover {
    background-color: #5B6DCD;
}

.border_sizing_container {
    border: 1px solid black;
    background-color: violet;
    display: block;
    width: 80%;
    text-align: center;
}

.border_sizing_container_nomal {
    padding: 10px;
    width: 100%;
    border: solid #5B6DCD 10px;
}

.border_sizing_container_border {
    box-sizing: border-box;
    width: 100%;
    border: solid #5B6DCD 10px;
    padding: 10px;

}

.border_sizing_container_content {
    box-sizing: content-box;
    width: 100%;
    border: solid #5B6DCD 10px;
    padding: 10px;
}