body {
    margin: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

h1,
p {
    margin: 0;
}


@media screen and (max-width: 700px) {

    /*μ¤λ§νΈν° UI*/
    .container {
        background-color: bisque;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .item {
        margin: 5px;
        background-color: yellow;
        padding: 10px;
    }


}

@media screen and (min-width: 700px) and (max-width: 1100px) {

    /*tablet UI*/
    .container {
        background-color: bisque;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .item {
        margin: 5px;
        background-color: red;
        padding: 10px;
    }

}

@media screen and (min-width: 1100px) {

    /*PC UI*/
    .container {
        background-color: bisque;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .item {
        margin: 5px;
        background-color: green;
        padding: 10px;
    }
}

/* ////// grid ////////// */

.container22 {
    display: grid;

}

.item2 {
    text-align: center;
    padding: 10px;
    font-size: 50px;

}

.color-1 {
    grid-column: 1 /5;
    background-color: olive;
    border: 1px;
    color: aqua;
}

.color-2 {
    grid-row: 3 / 4;
    background-color: red;
}

.color-3 {
    grid-column: 3;
    grid-row: 3;
    background-color: orange;
}

.color-4 {
    grid-column: 2/3;
    background-color: teal;
}

.color-5 {
    grid-column: 1 / 5;
    background-color: green;
}

@media only screen and (max-width: 1000px) {
    .container22 {
        grid-template-columns: 1fr 2fr;
    }

    .color-2 {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    .color-3 {
        grid-column: 1/3;
        grid-row: 3;
    }

    .color-4 {
        grid-column: 1;
    }

    .color-5 {
        grid-column: 2;
    }
}

/* flex box  */


.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
    background-color: beige;
    height: 600px;
    font-size: 2rem;
    text-align: center;
}

.itemf3 {
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

.itemFlex1 {
    background-color: #ef9a9a;
    flex: 2 2 auto;
    align-self: stretch;
}

.itemFlex2 {
    background-color: red;
}

.itemFlex3 {
    background-color: yellow;
}

.itemFlex4 {
    background-color: teal;
}

.itemFlex5 {
    background-color: tan;
}

.itemFlex6 {
    background-color: thistle;
}

.itemFlex7 {
    background-color: palegoldenrod;
}

.itemFlex8 {
    background-color: peru;
}

.itemFlex9 {
    background-color: purple;
}

.itemFlex10 {
    background-color: olivedrab;
}

.itemFlex11 {
    background-color: violet;
}

.itemFlex12 {
    background-color: silver;
}